@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 1vh;
  color: #FAE2CA;
  font-size: 7vw;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itemList {
  /* background-color: #FAE2CA; */
  background-image: linear-gradient(#FAE2CA, #FFF5EB);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
}

.itemList a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
}

.itemList p {
  margin: 8px 0;
}

.itemList p.public {
  color: green;
}

.itemList p.private {
  color: red;
}

.openModalClick {
  border: none;
  color: #311ABB;
  cursor: pointer;
}

@media (max-width: 600px) {
  .itemList {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .itemList {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .itemList {
    flex: 0 0 calc(33.33% - 20px);
  }
}

@media (min-width: 1201px) {
  .itemList {
    flex: 0 0 calc(25% - 20px);
  }
}