@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

:root {
	--mainColor: #FF9B36;
	--mainColorLight: #9B9BFF;
  --mainColorBlue: #311ABB;
	--secondaryColor: #434AF2;
	--textColor: #FFF5EB;
  --backgroundCoor: #FAE2CA;
  --greenColor: #3BB927;
  --redColour: #DB5353;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itemList {
  background-color: var(--backgroundCoor);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
}

.itemList a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
}

.itemList p {
  margin: 8px 0;
}

.itemList p.public {
  color: var(--greenColor);
}

.itemList p.private {
  color: var(--redColour);
}

.openModalClick {
  border: none;
  color: var(--mainColorBlue);
  cursor: pointer;
}

.itemListBackground .footer {
  position: relative;
}

.itemListBackground .footer button {
  width: 30vw;
  height: 100px;
  border: none;
  color: var(--mainColorBlue);
  border-radius: 8px;
  font-size: 40px;
  cursor: pointer;
  background-color: var(--mainColor);
  border-radius: 20px;
  text-align: center;
}

#footerButton {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
}