.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background: #C7C7FE;
    border-radius: 50%;
    animation: rotate 2s linear infinite;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 60px;
    background: #434AF2;
    transform: skew(5deg, 60deg) translate(-50%, -5%);
  }
  
  .loader:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #C7C7FE;
    transform: translate(-50%, -50%);
  }
  
  @keyframes rotate {
    0% { transform: rotate(45deg) }
    30%, 50%, 70% { transform: rotate(230deg) }
    40%, 60%, 80% { transform: rotate(240deg) }
    100% { transform: rotate(245deg) }
  }
  