:root {
	--circle: #C7C7FE;
	--arrow: #434AF2;
}

.loader {
  position: fixed;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  background: var(--circle);
  border-radius: 50%;
  animation: rotate 2s linear infinite;
  
}

.loader:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 60px;
  background: var(--arrow);
  transform: skew(5deg, 60deg) translate(-50%, -5%);
}

.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--circle);
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  0% { transform: rotate(45deg) }
  30%, 50%, 70% { transform: rotate(230deg) }
  40%, 60%, 80% { transform: rotate(240deg) }
  100% { transform: rotate(245deg) }
}

@media screen and (max-width: 600px) {
  .loader {
    width: 80px;
    height: 80px;
  }

  .loader:before {
    width: 20px;
    height: 40px;
    transform: skew(5deg, 60deg) translate(-50%, -5%);
  }

  .loader:after {
    width: 10px;
    height: 10px;
  }
}