:root {
	--mainColor: #FF9B36;
	--mainColorLight: #9B9BFF;
	--secondaryColor: #434AF2;
	--textColor: #FFF5EB;
}

.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(199, 199, 254, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 60%;
    max-width: 500px;
    border-radius: 12px;
    background-color: #434AF2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modalContainer .title {
    color: #FFF5EB;
    display: inline-block;
    text-align: center;
    margin-top: -10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-image:url('../assets/Cancel.png');
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .body button {
    justify-content: center;
    flex: 50%;
    display: flex;
  }

  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: #434AF2;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: #434AF2;
    border: 4px solid #C7C7FE;
  }

  #AddBtn {
    background-color: #434AF2;
    border: 4px solid #C7C7FE;
  }

  .item {
    color:#FFF5EB
  }