:root {
	--mainColor: #FF9B36;
	--mainColorLight: #9B9BFF;
	--secondaryColor: #434AF2;
	--textColor: #FFF5EB;
}

.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(199, 199, 254, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 60%;
    max-width: 500px;
    border-radius: 12px;
    background-color: #434AF2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 60px;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .modalContainer .title {
    color: #FFF5EB;
    display: inline-block;
    text-align: center;
    margin-top: -10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-image:url('../assets/Cancel.png');
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
.modalContainer h1 {
  font-size: 3rem;
}

.item-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.deleteIcon {
  margin-right: 10px;
  path { color: #FF9B36 };
}

.item {
  color: #FFF5EB;
  flex-grow: 1;
}

  .modalContainer .footer {
    margin-top: 20px;
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: #434AF2;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: #434AF2;
    border: 4px solid #C7C7FE;
  }

  .modalContainer #AddBtn {
    background-color: #434AF2;
    border: 4px solid #C7C7FE;
  }
