/* Reset.css */

/* Box-sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles (bullet points, etc.) */
ul,
ol {
  list-style: none;
}

/* Remove default hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default button styles */
button {
  background-color: transparent;
  border: none;
  padding: 0;
}

/* Standardize heading margin */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Remove default input styles */
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
}

/* Ensure images are responsive */
img {
  max-width: 100%;
  height: auto;
}
